main/laravel_app/bootstrap/*
main/laravel_app/storage/*
main/laravel_app/vendor/*
main/laravel_app/node_modules/*
main/laravel_app/tests/*
main/laravel_app/database/.gitignore
main/laravel_app/database/factories/UserFactory.php
main/laravel_app/database/migrations/2014_10_12_000000_create_users_table.php
main/laravel_app/database/migrations/2014_10_12_100000_create_password_resets_table.php
main/laravel_app/database/migrations/2019_08_19_000000_create_failed_jobs_table.php
main/laravel_app/database/seeds/DatabaseSeeder.php
main/laravel_app/resources/js/app.js
main/laravel_app/resources/js/bootstrap.js
main/laravel_app/resources/lang/en/auth.php
main/laravel_app/resources/lang/en/pagination.php
main/laravel_app/resources/lang/en/passwords.php
main/laravel_app/resources/lang/en/validation.php
main/laravel_app/resources/views/meme_donate.blade.php
main/laravel_app/resources/views/welcome.blade.php
